:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-black-color: #000000;
  --logo-white-color: #ffffff;
  --third-background-color: #2f303a;
  --primary-backgorund-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* ------------logo------------ */
.web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-title-color);
}

/*--------- body--------- */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--title-text-color);
  font-size: 1.7;
  background-color: var(--primary-backgorund-color);
}

/* ---------header--------- */
header {
  background-color: var(--primary-backgorund-color);
  color: var(--primary-text-color);
}
.header-logo {
  font-family: 'Raleway', sans-serif;
}
.web {
  color: var(--accent-color);
}
.header-mail {
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.header-tell {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.menu-link-main {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}
/* --------section-one-------- */
.section-one {
  background-color: var(--third-background-color);
}

.section-one-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--logo-white-color);
}
.btn-create-order {
  background-color: var(--accent-color);
  color: var(--logo-white-color);
}
.btn:focus {
  cursor: pointer;
  /* color: var(--accent-color); */
}
.btn:active {
  background-color: var(--accent-color);
}
/* ---------hero--------- */
.hero-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.hero-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* ----------section-third---------- */
.pre-photo-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* --------------about-us-------------- */
.about-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.about-desc {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* -----------footer----------- */
.footer {
  background-color: var(--third-background-color);
}
.footer-link-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--logo-white-color);
}

.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* --------------portfolio-------------- */

.btn-nav {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.btn-nav:focus {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--logo-white-color);
}

.name-img {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.description-img {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
