:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-black-color: #000000;
  --logo-white-color: #ffffff;
  --third-background-color: #2f303a;
  --primary-background-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --item-client: #afb1b8;
  --social-color: #ffffff;
  --hero-btn-hover: #188ce8;

  --portfolio-list-item-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
    0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
