.about-us {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-bg-color);
  .social-icon {
    fill: var(--item-client);
  }
}
.about-us__list {
  // display: flex;
  @media screen and (max-width: 767px) {
    display: block;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}
.about-us__item {
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100%-60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.about-us__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--title-text-color);
}
.about-us__desc {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.about-us__desc-div {
  padding-top: 30px;
  padding-bottom: 30px;
}

.client-menu {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    margin: -15px;
  }
  @media (min-width: $tablet) and (max-width: 1199px) {
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: $desktop) {
    margin: -15px;
  }
}
.client-item {
  display: block;
  @media screen and (max-width: 767px) {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
  @media (min-width: $tablet) and (max-width: 1199px) {
    margin: 15px;
    flex-basis: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: $desktop) {
    margin: 15px;
    flex-basis: calc((100% - 150px) / 6);
  }

  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--item-client);
  border-radius: 4px;
  transition: color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
    transition: color 250ms var(--timing-function),
      border-color 250ms var(--timing-function);
  }

  .client-icon:hover,
  .client-icon:focus {
    fill: var(--accent-color);
    transition: color 250ms var(--timing-function),
      border-color 250ms var(--timing-function);
  }
}
.client-icon {
  width: 106px;
  height: 60px;
  fill: var(--item-client);
  transition: color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}

.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
