.description-img {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}
.examples-list .name-img {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.examples-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  @media screen and (min-width: 768px) {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: -30px;
    padding-bottom: 60px;
  }
}
.examples-sites-list {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  list-style: none;

  &:hover .overlay-box {
    transform: translateY(0%);
  }
  @media screen and (min-width: 768px) {
    display: flex;
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 3 - 30px);
  }
}
.item-img {
  display: block;
  width: 100%;
}
.examples-sites-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms var(--timing-function);
  &:focus,
  &:hover {
    outline: 1px solid #eeeeee;
    box-shadow: var(--portfolio-list-item-shadow);
  }
}
.portfolio-desc {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.overlay {
  display: flex;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  align-items: center;
  background: rgba(33, 150, 243, 0.9);
  visibility: hidden;
  pointer-events: none;
  transform: translateY(0);
  transition: transform 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}
.examples-sites-link:focus .overlay,
.examples-sites-link:hover .overlay {
  transform: translateY(-100%);
  visibility: visible;
  pointer-events: auto;
}
.overlay-text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--logo-white-color);
}
.examples-thumb {
  position: relative;
  overflow: hidden;
}
