.web-footer {
  display: block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  .link-map {
    color: var(--logo-white-color);
    text-decoration: none;
  }
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
  @media screen and (max-width: 1199px) {
    margin-bottom: 8px;
  }
}
.address-menu {
  @media (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
  }
}
.address-menu {
  .footer-link {
    &:focus,
    &:hover {
      color: var(--accent-color);
    }
  }
}
.address-container {
  @media (min-width: $tablet) and (max-width: 1199px) {
    margin-left: 76px;
  }
  @media (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: $desktop) {
    width: 231px;
  }
}
.footer {
  .social-link {
    background: rgba(255, 255, 255, 0.1);
  }
}
.footer {
  .social-link {
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
}

.footer {
  background-color: var(--third-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  .social {
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }
    @media (min-width: $tablet) and (max-width: 1199px) {
      margin-left: 165px;
    }
    @media screen and (min-width: $desktop) {
      width: 206px;
    }
  }
}
.footer__right {
  @media (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 70px;
  }
}
.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-container {
  @media screen and (max-width: 767px) {
    display: block;
    text-align: center;
  }
  @media (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }
}

.studio-footer {
  color: var(--logo-white-color);
}
.subscribe-footer {
  //margin-left: 93px;
  @media (min-width: $tablet) and (max-width: 1199px) {
    text-align: center;
    margin-left: 166px;
    margin-top: 60px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
  }
}
.subscribe-label {
  @media (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    width: 450px;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
.footer .social-icon {
  fill: var(--logo-white-color);
}
.footer .social-menu {
  margin-top: 20px;
}
.footer .social-text-title {
  margin-bottom: -16px;
}
.subscribe-input {
  width: 358px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 0px 15px 16px;
  margin-right: 12px;
  color: var(--social-color);
  background-color: var(--third-background-color);
  box-shadow: 4px, 0px, 4px rgba(0, 0, 0, 0.15);
  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 20px;
  }
  @media (min-width: $tablet) and (max-width: 1199px) {
    margin-bottom: 20px;
  }
}

.submit-footer-button {
  display: inline-block;
  width: 200px;
  min-height: 50px;
  padding: 10px 62px 10px 29px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: transparent;

  box-shadow: 4px, 0px, 4px rgba(0, 0, 0, 0.15);

  color: var(--social-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
    outline: 1px solid #188ce8;
  }
  @media screen and (max-width: 767px) {
    margin: 0 auto;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 12px;
  }
}
.footer-button-field {
  position: absolute;
}
.footer-button-icon {
  width: 24px;
  height: 24px;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  background-image: url(../images/icon-send.svg);
  cursor: pointer;
  position: absolute;
}
