.web-footer {
  display: block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address .link-map {
  color: var(--logo-white-color);
  text-decoration: none;
}
.address-menu .footer-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.address-menu .footer-link:hover,
.address-menu .footer-link:focus {
  color: var(--accent-color);
}
.address-container {
  margin-right: 70px;
}
.footer .social-link {
  background: rgba(255, 255, 255, 0.1);
}
.footer .social-link:hover,
.footer .social-link:focus {
  background-color: var(--accent-color);
}

.footer {
  background-color: var(--third-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .social {
  display: block;
  width: 206px;
  height: 80px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-link:focus,
.footer-link:hover {
  color: var(--accent-color);
}
.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.studio-footer {
  color: var(--logo-white-color);
}
.subscribe-footer {
  margin-left: 93px;
}
.footer .social-icon {
  fill: var(--logo-white-color);
}
.footer .social-menu {
  margin-top: 20px;
}
.footer .social-text-title {
  margin-bottom: -16px;
}
.subscribe-input {
  width: 358px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 0px 15px 16px;
  margin-right: 12px;
  color: var(--social-color);
  background-color: var(--third-background-color);
  box-shadow: 4px, 0px, 4px rgba(0, 0, 0, 0.15);
}
.subscribe-input:focus {
  border-color: var(--accent-color);
}
.submit-footer-button {
  display: inline-block;
  width: 200px;
  min-height: 50px;
  padding: 10px 62px 10px 29px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: transparent;

  box-shadow: 4px, 0px, 4px rgba(0, 0, 0, 0.15);

  color: var(--social-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button-field {
  position: absolute;
}
.submit-footer-button:hover,
.submit-footer-button:focus {
  background-color: #188ce8;
  outline: 1px solid #188ce8;
}
.footer-button-icon {
  width: 24px;
  height: 24px;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  background-image: url(../images/icon-send.svg);
  cursor: pointer;
  position: absolute;
}
