.hero__section {
  color: var(--logo-white-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.hero__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}
.hero__menu-list {
  @media screen and (max-width: 767px) {
    display: block;
    margin-bottom: 60px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.hero__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.hero__list {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 120px) / 4);
  }
}
.hero__list::before {
  display: block;
  content: '';
  height: 120px;
  fill: var(--title-text-color);
  background-size: auto;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}
// .hero__menu-list .hero__list:not(:last-child) {
//   margin-right: 30px;
// }
.btn {
  border: 1px solid transparent;
  border-radius: 4px;
}
a {
  text-decoration: none;
}
.hero__section__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

.hero__item-antena::before {
  background-image: url(../images/main-page/antenna.svg);
}
.hero__item-clock::before {
  background-image: url(../images/main-page/clock.svg);
}
.hero__item-diagram::before {
  background-image: url(../images/main-page/pc.svg);
}
.hero__item-astronavt::before {
  background-image: url(../images/main-page/astronaut.svg);
}
