.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms var(--timing-function),
      visibility 250ms var(--timing-function);
  }
}
.backdrop.visually-hidden .backdrop__modal {
  transform: translate(-50%, -50%) scale(0.7);
}
.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background: var(--logo-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
  padding: 40px;
}
.backdrop__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  background-color: var(--logo-white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms var(--timing-function);

  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
}
.backdrop__form {
  display: block;
}

.backdrop__text-title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}
.backdrop__input-label {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 10px;

  color: var(--primary-text-color);
}
.backdrop__agreement:focus + .backdrop__label-checkbox::before {
  outline: 1px solid var(--accent-color);
}
.backdrop__lable-addtional {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 10px;

  color: var(--primary-text-color);
}
.backdrop__input {
  width: 100%;
  padding: 11px 42px;
  box-shadow: 1px, 0px, 2px rgba(0, 0, 0, 0.2), 1px, 0px,
    1px rgba(0, 0, 0, 0.14), 3px, 0px, 1px rgba(0, 0, 0, 0.12);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}
.backdrop__form-data {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  box-shadow: 1px, 0px, 2px rgba(0, 0, 0, 0.2), 1px, 0px,
    1px rgba(0, 0, 0, 0.14), 3px, 0px, 1px rgba(0, 0, 0, 0.12);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
  &::placeholder {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: rgba(117, 117, 117, 0.5);
    letter-spacing: 0.01em;
  }
}

.backdrop__form-icon {
  display: block;

  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__input:focus + .backdrop__form-icon {
  fill: var(--accent-color);
}

.backdrop__btn {
  margin-top: 30px;
  height: 50px;
  width: 200px;
}
.backdrop__input-icon {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}
.backdrop__label-checkbox {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;

  &::before {
    content: '';
    display: block;
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    border-radius: 4px;

    cursor: pointer;
    margin-right: 7px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-image 250ms cubic-bezier(0.4, 0, 0.2, 1) background-size 250ms
        cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.backdrop__agreement:checked + .backdrop__label-checkbox::before {
  border-radius: 2px;
  border: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: cover;
  background-origin: border-box;
}
.backdrop__link-agreement {
  color: var(--accent-color);
  text-decoration: underline;
}
