.header__web {
  min-width: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-right: 93px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header__studio {
  color: var(--logo-black-color);
}
