.section-one {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.4),
      rgba(25, 28, 38, 0.4)
    ),
    url(../images/main-page/index_bg.jpg);
}

.section-one-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--logo-white-color);
  margin-bottom: 30px;
}
.btn-create-order {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  margin: 0 auto;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--logo-white-color);
  cursor: pointer;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}
.btn-create-order:hover,
.btn-create-order:focus {
  color: var(--logo-white-color);
  background-color: var(--accent-color);
}
